<h2>{{ data.type === "edit" ? "Edit product" : "Add new product" }}</h2>
<span class="material-symbols-sharp close" (click)="close()"> close </span>
<form [formGroup]="addingForm" autocomplete="off" enctype="multipart/form-data">
  <food-input-form
    label="Title"
    [control]="addingForm.controls.title"
  ></food-input-form>
  <food-input-form
    label="Price"
    [control]="addingForm.controls.price"
    [type]="'number'"
  ></food-input-form>
  <div class="form-control">
    <label for="image">Image</label>
    <food-tab-component>
      <food-single-tab tabTitle="Upload">
        <food-image-upload
          formControlName="img"
          [control]="addingForm.controls.img"
        ></food-image-upload>
      </food-single-tab>
      <food-single-tab tabTitle="Url">
        <food-input-form
          label="Image Url"
          [control]="addingForm.controls.img"
          [type]="'text'"
        ></food-input-form>
      </food-single-tab>
    </food-tab-component>
    <img class="preview" [src]="imgUrl(addingForm.value.img ?? '')" />
  </div>
  <food-select-form
    label="Category"
    [control]="addingForm.controls.category"
  ></food-select-form>
  <food-button
    [buttonText]="data.type === 'edit' ? 'Save' : 'Add product'"
    (click)="data.type === 'edit' ? saveProduct() : addProduct()"
    [disabled]="addingForm.invalid || submitted"
    [className]="'modalBtn'"
  ></food-button>
</form>
