<h2>Add new product</h2>
<form [formGroup]="addingForm" autocomplete="off" enctype="multipart/form-data">
  <food-input-form
    label="Title"
    [control]="addingForm.controls.title"
  ></food-input-form>
  <food-input-form
    label="Last Name"
    [control]="addingForm.controls.price"
  ></food-input-form>
  <div class="form-control">
    <label for="image">Image:</label>
    <quill-editor
      #editor
      formControlName="img"
      placeholder="Your image will be show here..."
      [modules]="quillConfiguration"
    ></quill-editor>
    <p *ngIf="addingForm.get('img')?.errors?.['required']">
      The field is required
    </p>
  </div>
  <food-select-form
    label="Category"
    [control]="addingForm.controls.category"
  ></food-select-form>
  <food-button
    [buttonText]="'Add product'"
    (click)="addProduct()"
    [isDisabled]="addingForm.invalid || submitted"
  ></food-button>
</form>
