*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
:root {
  --primary: #6b068a;
  --secondary: #fd31c0;
  --secondaryShadow: #350e42;
  --error: red;
  --mainFont: #252525;
  --white: #ffffff;
  --secondaryFont: #ffffff;
  --background: rgba(255, 255, 255, 0.8);
  --borderColor: #747474;
  --boxShadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 1px 3px rgb(0 0 0 / 12%);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  cursor: default;
  background: var(--secondaryFont);
  transition: var(--transition);
}

main {
  margin-top: 6rem;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}
