//colors
$primary: #6b068a;
$secondary: #fd31c0;
$secondaryShadow: #350e42;
$error: red;
$mainFont: #252525;
$secondaryFont: #ffffff;
$background: rgba(255, 255, 255, 0.8);
$borderColor: #747474;
$boxShadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%),
  0px 1px 3px rgb(0 0 0 / 12%);
