label {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--mainFont);
}

.tabs {
  display: flex;
  gap: 0.25rem;
}

.tab {
  width: 100%;
  padding: 10px;
  height: 52px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 12px;

  &__button {
    all: unset;
    vertical-align: middle;
  }

  border: 1px solid var(--primary);

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: var(--secondary);
  }
}
