@import "variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: $primary;
  color: $secondaryFont;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Mansalva", cursive;
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  @media screen and (min-width: 768px) {
    font-size: 52px;
    line-height: 57px;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  hr {
    transform: rotate(180deg);
    height: 56px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 3px;
  }
}

span {
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: $secondary;
  }

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}
