header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: var(--primary);
  color: var(--secondary);

  a {
    color: var(--white);
  }
}

.cart-link {
  position: relative;
}

.cart-amount {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--secondary);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Mansalva", cursive;
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  color: var(--white);

  @media screen and (min-width: 768px) {
    font-size: 52px;
    line-height: 57px;
  }
}

.icon-container {
  display: flex;
  align-items: center;

  hr {
    transform: rotate(180deg);
    height: 56px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 3px;
  }
}

span {
  font-size: 24px;
  cursor: pointer;

  &:hover {
    color: var(--secondary);
    transition: var(--transition);
  }

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

.mode-wrapper {
  position: absolute;
  bottom: -50px;
  right: 18px;
}

span {
  color: var(--white);
}

@keyframes circle {
  0% {
    clip-path: circle(0%);
    transform: scale(0);
  }

  100% {
    clip-path: circle(75%);
    transform: scale(100);
  }
}
