<li [ngClass]="{ 'cart-layout': isCart }" class="card" *ngIf="food">
  <div
    *ngIf="role === 'admin'"
    class="delete-btn"
    (click)="deleteProduct(food.id)"
  >
    <span class="material-symbols-sharp"> delete </span>
  </div>
  <div class="card-image-container">
    <ng-template #image
      ><img class="card-image" [src]="food.img"
    /></ng-template>
    <quill-view-html
      *ngIf="food.img.includes('<p>'); else image"
      [content]="food.img"
    ></quill-view-html>
  </div>
  <div class="card-content">
    <h1>{{ food.title }}</h1>
    <p class="card-content-price">
      Price: <span> {{ food.price }}$ </span>
    </p>
    <div class="card-amount-container" *ngIf="role !== 'admin'">
      <p class="card-amount-container-text">Amount:</p>
      <button
        *ngIf="!isCart"
        class="card-amount-container-button"
        (click)="decrement()"
      >
        -
      </button>
      <p *ngIf="isCart" class="card-amount-container-text-count">
        {{ food.amount }}
      </p>
      <p *ngIf="!isCart" class="card-amount-container-text-count">
        {{ foodAmount }}
      </p>
      <button
        *ngIf="!isCart"
        class="card-amount-container-button"
        (click)="increment()"
      >
        +
      </button>
    </div>
    <button (click)="handleDelete()" *ngIf="isCart" class="delete-button left">
      <span class="material-symbols-outlined delete-icon"> delete </span>
    </button>
    <food-button
      *ngIf="!isCart"
      class="left"
      (click)="role === 'admin' ? handleEdit(food.id) : handleAdd()"
      [buttonText]="role === 'admin' ? 'Edit' : 'Add'"
    ></food-button>
  </div>
</li>
