<li [ngClass]="{ 'cart-layout': isCart }" class="card" *ngIf="food">
  <button
    *ngIf="role === 'admin'"
    pButton
    type="button"
    class="p-button-raised p-button-rounded delete-btn p-button-secondary"
    icon="pi pi-trash"
    (click)="deleteProduct(food.id)"
  ></button>

  <div class="card-image-container">
    <img class="card-image" [src]="food.img" />
  </div>
  <div class="card-content">
    <h1>{{ food.title }}</h1>
    <p class="card-content-price">
      Price: <span> {{ food.price }}$ </span>
    </p>
    <div class="card-amount-container" *ngIf="role !== 'admin'">
      <p class="card-amount-container-text">Amount:</p>

      <button
        pButton
        type="button"
        *ngIf="!isCart"
        (click)="decrement()"
        class="p-button-secondary"
      >
        <i *ngIf="!isCart" (click)="decrement()" class="pi pi-minus"></i>
      </button>

      <p *ngIf="isCart" class="card-amount-container-text-count">
        {{ food.amount }}
      </p>
      <p *ngIf="!isCart" class="card-amount-container-text-count">
        {{ foodAmount }}
      </p>

      <button
        pButton
        type="button"
        *ngIf="!isCart"
        (click)="increment()"
        class="p-button-secondary"
      >
        <i *ngIf="!isCart" (click)="decrement()" class="pi pi-plus"></i>
      </button>
    </div>
    <button (click)="handleDelete()" *ngIf="isCart" class="delete-button left">
      <span class="material-symbols-outlined delete-icon"> delete </span>
    </button>
    <food-button
      *ngIf="!isCart"
      class="left"
      (click)="role === 'admin' ? handleEdit(food.id) : handleAdd()"
      [buttonText]="role === 'admin' ? 'Edit' : 'Add'"
    ></food-button>
  </div>
</li>
