.delete-button {
  border: none;
  background: none;
  cursor: pointer;
}

.delete-icon {
  color: var(--primary);
  font-size: 2rem;
  &:hover {
    color: var(--secondary);
    transition: var(--transition);
  }
}

.card-image-container {
  flex-basis: 100%;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  box-shadow: var(--boxShadow);
  flex-direction: column;
  width: 100%;
  background-color: var(--white);

  &-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  &-amount-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-button {
      background-color: var(--primary);
      height: 20px;
      width: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--secondary);
        transition: var(--transition);
      }
    }

    &-text {
      font-weight: bold;
    }
  }

  &-content {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-price {
      font-weight: bold;
    }
  }

  &-content h1 {
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.left {
  margin-left: auto;
}
::ng-deep {
  .mat-snack-bar-container {
    background-color: var(--secondary);
    font-weight: 600;

    color: var(--white);
    box-shadow: var(--boxShadow);

    .mat-simple-snackbar-action {
      color: var(--primary);
      button {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .mat-simple-snackbar {
      font-size: 18px;
    }
  }
}

.cart-layout {
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
