.wrapper {
  margin: 0 auto;
  max-width: 600px;
  &-icons {
    display: flex;
  }
}
.mat-icon::ng-deep {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}
.mat-icon::ng-deep:not(:last-child) {
  margin-right: 20px;
}
h2 {
  color: var(--mainFont);
}
