<form [formGroup]="orderForm" autocomplete="off">
  <div class="field-wrapper">
    <label for="first-name">First Name: </label>
    <input 
      id="first-name"
      type="text"
      formControlName="firstName"
      [ngClass]="{
        invalid:
          orderForm.get('firstName')?.invalid &&
          (orderForm.get('firstName')?.dirty ||
            orderForm.get('firstName')?.touched)
      }"
    />
    <div class="error-wrapper">
      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('firstName')?.hasError('minlength') &&
          orderForm.get('firstName')?.errors
        "
      >
        The minimum length for this field is
        {{
        orderForm.get("firstName")?.errors?.['minlength'].requiredLength
        }}
        characters.
      </p>
      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('firstName')?.hasError('required') &&
          orderForm.get('firstName')?.touched
        "
      >
        *Is required
      </p>
    </div>
  </div>

  <div class="field-wrapper">
    <label for="last-name">Last Name: </label>
    <input
      id="last-name"
      type="text"
      formControlName="lastName"
      [ngClass]="{
        invalid:
          orderForm.get('lastName')?.invalid &&
          (orderForm.get('lastName')?.dirty ||
            orderForm.get('lastName')?.touched)
      }"
    />
    <div class="error-wrapper">
      <p
        class="error-mesage"
        *ngIf="orderForm.get('lastName')?.hasError('minlength')"
      >
        The minimum length for this field is
        {{
      orderForm.get("lastName")?.errors?.['minlength'].requiredLength
        }}
        characters.
      </p>
      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('lastName')?.hasError('required') &&
          orderForm.get('lastName')?.touched
        "
      >
        *Is required
      </p>
    </div>
  </div>
  <div class="field-wrapper">
    <label for="phone">Phone number: </label>
    <input
      id="phone"
      type="text"
      formControlName="phone"
      [ngClass]="{
        invalid:
          orderForm.get('phone')?.invalid &&
          (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched)
      }"
    />
    <div class="error-wrapper">
      <p
        class="error-mesage"
        *ngIf="orderForm.get('phone')?.hasError('pattern')"
      >
        *Is not valid
      </p>
      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('phone')?.hasError('required') &&
          orderForm.get('phone')?.touched
        "
      >
        *Is required
      </p>
    </div>
  </div>
  <div class="field-wrapper">
    <label for="city">City: </label>
    <input
      id="city"
      type="text"
      formControlName="city"
      [ngClass]="{
        invalid:
          orderForm.get('city')?.invalid &&
          (orderForm.get('city')?.dirty || orderForm.get('city')?.touched)
      }"
    />
    <div class="error-wrapper">
      <p
        class="error-mesage"
        *ngIf="orderForm.get('city')?.hasError('minlength')"
      >
        The minimum length for this field is
        {{
      orderForm.get("city")?.errors?.['minlength'].requiredLength
        }}
        characters.
      </p>
      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('city')?.hasError('required') &&
          orderForm.get('city')?.touched
        "
      >
        *Is required
      </p>
    </div>
  </div>
  <div class="field-wrapper">
    <label for="street">Street: </label>
    <input
      id="street"
      type="text"
      formControlName="street"
      [ngClass]="{
        invalid:
          orderForm.get('street')?.invalid &&
          (orderForm.get('street')?.dirty || orderForm.get('street')?.touched)
      }"
    />
    <div class="error-wrapper">
      <p
        class="error-mesage"
        *ngIf="orderForm.get('street')?.hasError('minlength')"
      >
        The minimum length for this field is
        {{
      orderForm.get("street")?.errors?.['minlength'].requiredLength
        }}
        characters.
      </p>

      <p
        class="error-mesage"
        *ngIf="
          orderForm.get('street')?.hasError('required') &&
          orderForm.get('street')?.touched
        "
      >
        *Is required
      </p>
    </div>
  </div>
</form>
