<h2>Order summaries:</h2>
<form [formGroup]="orderForm" autocomplete="off">
  <food-input-form
    label="First Name"
    [control]="orderForm.controls.firstName"
  ></food-input-form>
  <food-input-form
    label="Last Name"
    [control]="orderForm.controls.lastName"
  ></food-input-form>
  <food-input-form
    label="Phone Number"
    [control]="orderForm.controls.phone"
  ></food-input-form>
  <food-input-form label="City" [control]="orderForm.controls.city"></food-input-form>
  <food-input-form label="Street" [control]="orderForm.controls.street"></food-input-form>
</form>
