@import "variables";
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $primary;
}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  p {
    position: absolute;
    bottom: -3px;
    font-size: 12px;
  }
}

input {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 12px;
  height: 52px;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid $primary;
  width: 100%;
  &.invalid {
    border: 1px solid $error;
  }
}

input:focus {
  border: 1px solid $primary;
  outline: none;
}

.field-wrapper {
  position: relative;
}

.error-mesage {
  position: absolute;
  top: 80px;
  color: $error;
  font-size: 12px;
}
.error-wrapper {
  display: flex;
}
