<h2>Order summaries:</h2>
<form data-testid="orderForm" [formGroup]="orderForm" autocomplete="off">
  <form-input
    label="First Name"
    [control]="orderForm.controls.firstName"
  ></form-input>
  <form-input
    label="Last Name"
    [control]="orderForm.controls.lastName"
  ></form-input>
  <form-input
    label="Phone Number"
    [control]="orderForm.controls.phone"
  ></form-input>
  <form-input label="City" [control]="orderForm.controls.city"></form-input>
  <form-input label="Street" [control]="orderForm.controls.street"></form-input>
</form>
