.button {
  color: var(--white);
  background-color: var(--primary);
  padding: 5px 27px;
  border-radius: 15px;
  font-size: 24px;
  line-height: 28px;
  border: none;
  outline: none;
  cursor: pointer;

  &.login {
    padding: 9px 51px;
  }
  &.addProduct {
    margin-left: auto;
    margin-top: 30px;
    display: flex;
    padding: 10px 27px;
  }
  &.modalBtn {
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    padding: 10px 27px;
  }
  &:disabled {
    opacity: 0.7;
  }

  &:hover {
    background-color: var(--secondary);
    transition: var(--transition);
  }

  &.categories {
    margin-bottom: 12px;
    padding: 4px 12px;
    margin-right: 12px;
  }

  &.cardItem {
    padding: 5px 27px;
  }

  &.goToOrder {
    padding: 13px 54px;
    font-weight: 600;
  }

  &.order {
    padding: 9px 70px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  &.auth {
    padding: 13px 40px;
  }
}
