<div class="field-wrapper">
  <label>
    {{ label }}
    <input
      [ngClass]="{
        invalid: control.invalid && (control.dirty || control.touched)
      }"
      [type]="type"
      [formControl]="control"
    />
  </label>
  <div class="error-wrapper" *ngFor="let error of control.errors | keyvalue">
    <p
      class="error-message"
      *ngIf="(control.hasError(error.key) && control.touched) || control.dirty"
    >
      {{ generateErrors(control.errors, error.key) }}
    </p>
  </div>
</div>
