footer {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  display: block;
}

div {
  margin: 0 auto;

  p {
    padding: 20px 0;
    text-align: center;
    margin: 0px;
  }

  span {
    color: var(--error);
  }

  a {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: var(--white);
  }
}
