<li class="side-nav-item">
  <a
    class="link"
    [routerLink]="this.navLinks.unathorized.cart"
    [routerLinkActive]="['link-active']"
  >
    <div class="cart-amount">{{ cartItemAmount$ | async }}</div>
    <p>Cart</p>
    <span class="material-symbols-outlined">shopping_cart</span>
  </a>
</li>
<li class="side-nav-item">
  <a
    class="link"
    [routerLink]="this.navLinks.unathorized.login"
    [routerLinkActive]="['link-active']"
  >
    <p>Log in</p>
    <span class="material-symbols-outlined">login</span>
  </a>
  <a
    class="link"
    [routerLink]="this.navLinks.unathorized.signUp"
    [routerLinkActive]="['link-active']"
  >
    <p>Sign up</p>
    <span class="material-symbols-outlined">how_to_reg</span>
  </a>
</li>
