<div class="layout">
  <form [formGroup]="loginForm" autocomplete="off">
    <h2>Login page</h2>
    <food-input-form
      label="Email"
      data-testid="email"
      [control]="loginForm.controls.email"
    ></food-input-form>
    <div class="input-wrap">
      <span (click)="showPassword()" class="material-symbols-sharp">{{
        isVisiblePassword ? "visibility" : "visibility_off"
      }}</span>
      <food-input-form
        data-testid="password"
        label="Password"
        [control]="loginForm.controls.password"
        [type]="isVisiblePassword ? 'text' : 'password'"
      ></food-input-form>
    </div>
    <food-button
      type="submit"
      (click)="login()"
      buttonText="Login"
      className="auth"
    ></food-button>
  </form>
  <food-social-links></food-social-links>
</div>
