<div class="layout">
  <food-hero *ngIf="(authsService.user$ | async)?.role !== 'admin'"></food-hero>
  <food-button
    *ngIf="(authsService.user$ | async)?.role === 'admin'"
    className="addProduct"
    [buttonText]="'+  Add new product'"
    (click)="addProduct()"
  ></food-button>
  <food-categories
    (selectedCategory)="filterItemsHandler($event)"
    (sortItems)="sortedItemsHandler($event)"
  ></food-categories>
  <infinite-scroll (scrolled)="fetchMore()">
    <food-card-list [foods]="foods"></food-card-list>
  </infinite-scroll>
</div>
