.adress-details {
  width: 100%;
}

hr {
  margin: 40px 0px;
  background: var(--primary);
  @media screen and (max-width: 768px) {
    transform: rotate(180deg);
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin: 0px 40px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px 80px;
  }
}

.details {
  display: flex;
  box-shadow: var(--boxShadow);
  padding: 40px;
  margin-bottom: 20px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: var(--mainFont);
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary);
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: var(--borderColor);
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: var(--primary);
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: var(--mainFont);
    }
  }
}

food-orders-items::ng-deep,
.user_data {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
