<p-sidebar [(visible)]="value" position="right">
  <nav>
    <ul class="side-nav-list">
      <li class="side-nav-item">
        <a
          class="link"
          [routerLink]="this.navLinks.cart"
          [routerLinkActive]="['link-active']"
        >
          
          <p>Cart</p>
          <div class="shopping-cart-container">
          <span class="material-symbols-outlined">shopping_cart</span>
          <div class="cart-amount">{{ cartItemAmount$ | async }}</div>
        </div>
        </a>
      </li>
      <ng-container [ngSwitch]="(authsService.user$ | async)?.role">
        <food-user-links *ngSwitchCase="'client'"></food-user-links>
        <food-admin-links *ngSwitchCase="'admin'"> </food-admin-links>
        <food-unauthorized-links *ngSwitchDefault></food-unauthorized-links>
      </ng-container>
    </ul>
  </nav>
</p-sidebar>
