li {
  border-bottom: dotted;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mainFont);
  p {
    margin: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  p:first-child {
    width: 150px;
  }
  p:last-child {
    width: 30px;
  }
}
h3 {
  font-size: 24px;
  line-height: 28px;
  color: var(--primary);
}
.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary);
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--mainFont);
  }
}
.shadow {
  box-shadow: var(--boxShadow);
  padding: 20px 40px;
  margin-top: 30px;
  .amount p,
  h3 {
    font-size: 32px;
    line-height: 38px;
    color: var(--primary);
  }
}
