@import "variables";

li {
  border-bottom: dotted;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  p:first-child {
    width: 150px;
  }
  p:last-child {
    width: 30px;
  }
}
h3 {
  font-size: 24px;
  line-height: 28px;
  color: $primary;
}
.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
