.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;

  button {
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    padding: 8px 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    &:hover {
      background-color: var(--secondary);
      transition: var(--transition);
    }
  }
}

ul {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 15px;
  }
}

span {
  font-size: 40px;
  color: var(--primary);

  &:hover {
    color: var(--secondary);
    transition: var(--transition);
    cursor: pointer;
  }
}
