@import "variables";

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  margin: 0 auto;

  button {
    background-color: $primary;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $secondaryFont;
    cursor: pointer;
    padding: 8px 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    &:hover {
      background-color: $secondary;
    }
  }
}
ul {
  display: flex;
  li {
    margin-right: 15px;
  }
}
span {
  font-size: 40px;
  color: $primary;
  &:hover {
    color: $secondary;
    cursor: pointer;
  }
}
