.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

span {
  font-size: 40px;
  color: var(--primary);

  &:hover {
    color: var(--secondary);
    transition: var(--transition);
    cursor: pointer;
  }
}
