<li>
  <a
    class="link"
    [routerLink]="this.navLinks.user.orderHistory"
    [routerLinkActive]="['link-active']"
  >
    <p>Orders</p>
    <span class="material-symbols-outlined">receipt_long</span>
  </a>
</li>
<li>
  <a
    class="link"
    [routerLink]="this.navLinks.user.profile"
    [routerLinkActive]="['link-active']"
  >
    <p>Profile</p>
    <span class="material-symbols-outlined">account_circle</span>
  </a>
</li>
<li>
  <a class="link" (click)="logout()">
    <p>Log out</p>
    <span class="material-symbols-outlined">logout</span>
  </a>
</li>
