<li>
  <a
    class="link"
    [routerLink]="this.navLinks.user.cart"
    [routerLinkActive]="['link-active']"
  >
    <div class="cart-amount">{{ cartItemAmount$ | async }}</div>
    <p>Cart</p>
    <span class="material-symbols-outlined">shopping_cart</span>
  </a>
</li>
<li>
  <a
    class="link"
    [routerLink]="this.navLinks.user.orderHistory"
    [routerLinkActive]="['link-active']"
  >
    <p>Orders</p>
    <span class="material-symbols-outlined">receipt_long</span>
  </a>
</li>
<li>
  <a
    class="link"
    [routerLink]="this.navLinks.user.logout"
    [routerLinkActive]="['link-active']"
  >
    <p>Log out</p>
    <span class="material-symbols-outlined">logout</span>
  </a>
</li>
